html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px;
	background-color: DeepSkyBlue;
	font-family: Arial;
	text-align: center;
}

label {
	display: block;
	margin-bottom: 20px;
}

input[type="text"] { 
    width: 20px;
}