<p id="notice"><%= notice %></p>

<p>
  <h2>User: <%= @user.name %></h2>
</p>
<%= link_to 'Answer Questionaries', questionnaires_path, class: 'btn btn-primary' %>
<%= link_to 'See your results', hosted_view_path, class: 'btn btn-primary' %>
