<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @invitee %></h1>
    <p>
      The user <%= @subject.name %> invited you to anwser a questionnaire about him. 
    </p>
    <p>
      Visit this link to accept this invitation: <%= @url %> .
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>